mixin head(mainPage)
  head
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    title=title
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'report-sample' 'self' https://www.googletagmanager.com; style-src 'report-sample' 'self'; object-src 'none'; base-uri 'self'; connect-src 'self' https://www.google-analytics.com; font-src 'self' data:; frame-src 'self'; img-src 'self' https://www.google-analytics.com https://licensebuttons.net https://i.creativecommons.org; manifest-src 'self'; media-src 'self'; worker-src 'none';">
    <meta name="MobileOptimized" content="176">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="article">
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    <meta property="og:image" content="https://firstcountryin.space/images/orders/Order_of_Lenin.png"/>
    <meta property="og:image:url" content="https://firstcountryin.space/images/orders/Order_of_Lenin.png"/>
    <meta property="article:published_time" content="2020-01-01T00:00:00.000Z">
    <meta property="article:modified_time" content="2022-01-01T00:00:00.000Z">
    <meta property="article:author" content="December 14, 2016">
    <meta name="twitter:card" content="summary">
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=description)

    if mainPage
      link(rel="shortcut icon" href="favicon.ico?1" type="image/x-icon")
      link(rel="icon" type="image/png" href="favicon.png?1" sizes="16x16")
      link(rel="icon" type="image/png" href="favicon_2x.png?1" sizes="32x32")
      link(rel='stylesheet', href='./styles/quill.core.min.css')
      link(rel='stylesheet', href='./styles/core.min.css')
    else
      link(rel="shortcut icon" href="../favicon.ico?1" type="image/x-icon")
      link(rel="icon" type="image/png" href="../favicon.png?1" sizes="16x16")
      link(rel="icon" type="image/png" href="../favicon_2x.png?1" sizes="32x32")
      link(rel='stylesheet', href='../styles/quill.core.min.css')
      link(rel='stylesheet', href='../styles/core.min.css')

    noscript
      style
          include ../../styles/noscript.css
